# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Distribution / packaging
*.egg-info/
build/
dist/

# OS files
.DS_Store
Thumbs.db
